@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-border: #424242;
  --color-bg: #111111;
}

body {
  position: relative;
  font-size: 1.2rem;
  overflow-x: hidden;
  background-color: var(--color-bg);
  color: hsla(180, 7%, 75%, 0.9);
}
